.pool-name {
	background-color: #F7931E;
	height: 30px;
    width: 100%;
    padding: 5px;
    border-width: 1;
    border-style: solid;
    border-color: black;
    border-radius: 2;
    margin-bottom: 1px;
    color: black;
    text-align: left;
    font-size: 16px;
}