#tableHead {
	background-color: #F7931E;
	margin-bottom: 5px;
}

.category, .standing, #poolsButton {
	padding: 5px;
}

#poolsButton {
	margin-top: 10px;
}

.category, .standing {
	border-width: 1;
	border-style: solid;
	border-color: #e6e6e6;
	width: 100%;
}

